# Metadata
cache/
libraries/
logs/
versions/
eula.txt
help.yml
*.jar
version_history.json
crash-reports/

# Worlds
backups/
lobby/
Bedwars/
creative/
quake/

# Plugins
plugins/*.jar
plugins/*-version.json
plugins/bStats/
plugins/Essentials/userdata/
plugins/LuckPerms/translations/
plugins/ArmorStandEditor/lang/
plugins/ChestShop/languages/
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/sessions/

# Players
ops.json
usercache.json
banned-ips.json
banned-players.json
whitelist.json
