cache/
libraries/
logs/
versions/
plugins/*.jar
plugins/*-version.json
plugins/bStats/
lobby/
banned-ips.json
banned-players.json
eula.txt
help.yml
ops.json
*.jar
usercache.json
version_history.json
whitelist.json
