cache/
libraries/
logs/
versions/
plugins/*.jar
plugins/*-version.json
plugins/bStats/
world/
world_nether/
world_the_end/
banned-ips.json
banned-players.json
eula.txt
help.yml
ops.json
*.jar
usercache.json
version_history.json
whitelist.json
