# Metadata
cache/
libraries/
logs/
versions/
eula.txt
help.yml
*.jar
version_history.json
crash-reports/

# Worlds
backups/
world/
world_nether/
world_the_end/

# Plugins
plugins/*.jar
plugins/*-version.json
plugins/bStats/
plugins/Updater/
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/sessions/
plugins/Vault/
plugins/ProtocolLib/
plugins/PluginMetrics/
plugins/MoreMobHeads/lang/
plugins/LuckPerms/translations/
plugins/LuckPerms/luckperms-h2*
plugins/ArmorStandEditor/lang/
plugins/ChestShop/languages/
plugins/Essentials/userdata/
plugins/GriefPreventionData/ClaimData/
plugins/GriefPreventionData/PlayerData/

# Players
plugins/MoreMobHeads/player_heads.yml
plugins/ChestShop/users.db
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
